
h1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}
.logo{
  position: relative;
  right: 30%;
}
header {
  display: flex;
  justify-content: center;

}
nav{
  display: flex;
  gap: 10px;
  position: relative;
  left: 30%;
}

.t {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ta {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  
}